extends ../layout

block scripts
  script(src="/js/main.js", type="module")

block header
  include ../components/header

block content
  div
    h1 Impressum
    p
      | Simon Blum
      br
      | Werastraße 48
      br
      | Klingelschild WG/Wohngemeinschaft
      br
      | 88045 Friedrichshafen

    p &nbsp;
    h2 Contact
    p
      | Phone: +49 1778799440
      br
      | E-Mail: simon21.blum@gmail.com

    p &nbsp;
    h2 Editorially responsible
    p
      | Simon Blum
      br
      | Werastraße 48
      br
      | 88045 Friedrichshafen
