extends ../layout

block scripts
  script(src="/js/main.js", type="module")

block header
  include ../components/header

block content
  h1 Impressum
  p.
    On a real page the impressum should be displayed here!
