extends ../layout

block scripts
    script(src="/js/main.js", type="module")

block header
    include ../components/header

block content
    h1 Privacy
    p.
        On a real page a privacy notice should be
        displayed here!
        
