extends ../layout

block scripts
  script(src="/js/main.js", type="module")

block header
  include ../components/header

block content
  h1 Terms
  p.
    On a real page the terms and conditions should be
    displayed here!
