extends ../layout

block content
  main.container.posts-grid
    .post-header
      h1.fg-accent Latest Posts from #{ user }

    .posts-grid
      each post in posts
        include ../components/postPreview.pug
