footer.footer
  .container
    .footer-content
      .footer-section
        h3 Links
        a(href="/about") About
        a(href="/auth") Account
      .footer-section
        h3 Legal
        a(href="/privacy") Privacy
        a(href="/terms") Terms
        a(href="/impressum") Impressum
      .footer-section
        h3 Contact
        p simon21.blum@gmail.com

  p.footer-copyright © 2024 episko
