extends ../layout

block scripts
  script(src="/js/posts.js", type="module")

block content
  main.post-container
    .post-header
      h1.fg-accent Latest Posts

    .flex-grid
      .posts-grid
        each post in posts
          include ../components/postPreview.pug

    if session.user && (session.user.role === 'admin' || session.user.role === 'author')
      p &nbsp;
      a.button.call-to-action(href="/posts/new") New Post
